body {
	background-size: cover;
	background-position: center;
	font-family: times;
	color: rgba(0,0,0, 1.0);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header { 
	background: teal;
	padding: 20px 35px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.header-h1 {
	color: white;
	font-weight: bold;
	margin: 0 auto 0 3%;
	font-size: 40px;
}
header nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header nav ul li a {
	text-decoration: none;
	margin: 0 30px;
	padding: 10px 15px;
	color: rgba(255, 255, 0, 1.0);
	font-size: 1.55vw;
	font-weight: bolder;
}

header nav ul li a:hover {
	background:yellow;
	background-size: 100%;
    color: teal;
    border-radius: 15px;
    text-shadow: none;
}

header nav button a {
	border-radius: 15px;
}

.section-body {
	display: flex;
	flex-wrap: wrap;
	/* flex-direction allowed for the children to stack on top of eachother rather than
	sit next to eachother */
	flex-direction: column;
	/* now that I've dictacted these are a column, I have to use align-items becuase these 
	children are on the Y axis */
	margin: 100px 50px 100px 50px;
	border-radius: 15px;
	background: rgba(0, 128, 128, 1.0);
	padding: 25px;
}

.section-body p:hover {
	text-shadow: 5px 5px 5px rgba(0,0,0, 1.0);
}

.two, .three, .four {
	padding: 75px;
}

.zero:hover {
	background-image: url("../Images/pexel1.jpeg");
	background-position: center;
	background-size: cover;
	box-shadow: 2px 2px 5px rgba(0,0,0, 0.8);
}

.two:hover {
	background-image: url("../Images/flipped-hero-bg\ copy.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 2px 2px 5px rgba(0,0,0, 0.8);
}

.three:hover {
	background-image: url("../Images/digital-marketing-meeting\ copy.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 2px 2px 5px rgba(0,0,0, 0.8);
}

.four:hover {
	background-image: url("../Images/perchgolden.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 2px 2px 5px rgba(0,0,0, 0.8);
}

.section-title {
	display:flex;
	align-self: flex-start;
	color: yellow;
	font-size: 40px;
	margin-left: 3%;
	margin-right: 3%;
}

.section-title a {
	color: yellow;
	text-decoration-color: rgba(255, 255, 0, 1.0);
	text-decoration-line: none;
}

p {
	display: flex;
	align-self: flex-start;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 35px;
	line-height: 1.5em;
	color: white;
	padding-top: 20px;
}

.contact-info p {
	display: flex;
	align-self: flex-start;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 35px;
	line-height: 1.5em;
	color: teal;
	padding-top: 20px;
	border-bottom: 1px solid teal;
}

.contact-info a {
	color: teal;
	text-decoration-color: teal;
	text-decoration-line: none;
}

.contact-info h3 {
	display: flex;
	align-self: flex-start;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 35px;
	line-height: 1.5em;
	color: teal;
	padding-top: 20px;
	border-bottom: 3px solid teal;
}

.contact-info {
	display: flex;
	flex-direction: column;
	align-items:baseline;
	background: rgba(255, 255, 0, 1.0);
	padding: 50px;
}

.contact-info-title {
	display:flex;
	align-self: flex-start;
	color:teal;
	font-size: 40px;
	margin-left: 3%;
	margin-right: 3%;
}

footer {
	background: teal;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: left;
	position: sticky;
	padding: 25px;
}

footer h2 {
	margin-left: 3%;
	color: white;
	display: flex;
	font-size: 36px;
}